<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
 <properties>
   <comment>algorithm is the class implementing your algorithm and instance
   	is the datafile holding the instance to solve
   </comment>
   <entry key="algorithm">polytech.tours.di.parallel.tsp.example.MyAlgorithm</entry>
   <entry key="instance">./data/ca4663.tsp.txt</entry>
   <entry key="iterations">100</entry>
   <entry key="threads">4</entry>
</properties>